.error {
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
  font-family: "o", sans-serif;
}
h1 {
  margin-top: 2rem;
}
span {
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
}
